.sidebar_container {
  /* position: relative; */
  transition: padding-right 0.3s;
}

.sidebar_container.show {
  width: 0px;
  margin-right: 300px;
}

.sidebar_content {
  position: fixed;
  top: 0;
  right: -250px;
  width: 0px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s;
}

.sidebar_content.show {
  left: 0;
  padding: 20px;
  width: 250px;
}
